<script id="bootstrapKanji", type="text/json">
  <%= @kanji.to_json.html_safe %>
</script>

<div id="quiz">
  <div class="flashcard">
    <div class="glyph"></div>
    <div class="meaning"></div>
    <div class="stats"></div>
  </div>
  <div class="btn-grp"></div>
</div>
